/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  outline: 1px solid red;
}

/* ---------- General Styles ---------- */
.content-wrapper {
  width: 90%;
}

/*---------- Base Header - Footer Styles ----------*/

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  margin: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  width: 60%;
  padding: 10px 0 0 0;
}

footer {
  flex-direction: column;
  text-align: center;
}

footer .content-wrapper {
  width: 55%;
  margin: 20px 0;
}


footer .contact {


}

footer .social {
  
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .meet {

}

footer .meet-me {

}


footer .copyright {
  width: 70%;

}


/* ---------- Mobile Styles ---------- */

/* Hero Area */

.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.hero-area h1 {
  margin: 20px 0 0 0;
}

.hero-area p {
  margin: 15px 0;
}

.hire-me-bt {
  display: flex;
  justify-content: center;
  width: 30%;
}

/* Services */

.services {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.services article {
  width: 60%;
}

.services .services-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.services h2 {
  margin: 20px 0 0 0;
}

.services p {
  margin: 15px 0 0 0;
}


/* Portfolio | Homepage and Portfolio Page */

.portfolio,
.full-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.portfolio .portfolio-items,
.full-portfolio .portfolio-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.portfolio h3,
.full-portfolio h3 {
  width: 55%;
}

.portfolio article,
.full-portfolio article {
  width: 100%;
}


/* About */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* Full Portfolio Page */
.full-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.full-portfolio .content-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.full-portfolio article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.full-portfolio p {
  margin: 0 20px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet styles here */

/* Header */

  header {
  justify-content: space-around;
}

  header .content-wrapper {
  width: 100%;
  justify-content: space-between;
}

header figure {
  width: 30%;
}

.header-divider {
  display: none;
}

header nav {
  width: 50%;
}


header nav ul {
  justify-content: space-between;
  flex-flow: nowrap;
}

/* Services */
.services h2 {
  text-align: center;
}

.services .services-items {
  flex-flow: nowrap;
}

/* Portfolio */
.portfolio h2 {
  text-align: center;
}

.portfolio article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
  margin: 0 0 30px 0;
}

/* About */
.about article {
  display: flex;
  justify-content: space-between;
}

/* Footer */

footer .content-wrapper {
  width: 100%;
}

footer article {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

footer .footer-content {
  display: flex;
  justify-content: center;
}

footer .contact,
footer .social,
footer .meet {
  flex-basis: 33.3%;
}

/* Full Portfolio Page */
.full-portfolio p {
  margin: 0 200px;
}

}

@media only screen and (min-width: 1200px;) {
/* Desktop styles here */

.full-portfolio p {
  margin: 0 400px;
}

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

